@model IEnumerable<Tesis.Models.Cursos>

@{
    ViewData["Title"] = "Index";
}

<h1>Cursos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary rounded-pill px-3">Agregar nuevo curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
                <td>
                    <a asp-action="ListaEstudiantes" asp-route-id="@item.Id" class="btn btn-info text-white rounded-pill px-3">Estudiantes</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning rounded-pill px-3">Detalles</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success rounded-pill px-3">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger rounded-pill px-3">Eliminar</a>
                </td>
        </tr>
}
    </tbody>
</table>
